.todo-bar {
	margin: 0;
	padding: 0;
	/* 水平垂直居中 */
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked + span { //【 + span 】表示后继选择器, 意味着选择其直接后续的 span 元素
	text-decoration: line-through;
	color: #999;
}

/* .toto-item {
	background-color: #3370FF;
} */

.todo-input{
	width: 300px;
	height: 32px;
	border-radius: 88px;
	border: 1px solid #999;
	padding: 0 12px;
}

.add-button{
	width: 80px;
	height: 32px;
	border-radius: 88px;
	border: none;
	background-color: black;
	color: yellow;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	/* overflow: hidden; */
}

/* 鼠标移到 add 按钮上时变高亮 */
.add-button::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	/* left: 50%;
	top: 50%; */
	left: (--x); //用 js 计算
	top: (--y); //用 js 计算
	transform: translate(-50%, -50%);
	/* background: radial-gradient(circle closest-side, #FFF8EA, transparent); */
	background: radial-gradient(circle closest-side, black, transparent);
	opacity: 0.6;
	transition: width 0.2s ease, height 0.2s ease;
	/* background: radial-gradient(#e66465, #9198e5); */
}

.add-button:hover::before{
	width: 200px;
	height: 200px;
	opacity: 0.6;
}

.todo-list {
	/* 水平垂直居中 */
	position: absolute;
	top: 500px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.todo-items{
	width: 410px;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 8px;
}

.pre-content {
	width:80%
}

.del-button {
	width: 80px;
	height: 32px;
	border-radius: 88px;
	border: none;
	background-color: #820000;
	color: white;
	font-weight: bold;
	cursor: pointer;
}